:root {
    --primary-color: rgb(1, 208, 215);
    --clr-primary-10: hsl(186, 100%, 94%);
}

.section {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.underline {
    width: 4rem;
    height: 0.2rem;
    background-color: var(--primary-color);
    margin: 0.5rem auto;
}
.title {
    margin-bottom: 2rem;
}
.jobs-center {
    width: 80vw;
    margin: 0 auto;
}
.btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.job-btn {
    border: none;
    background: transparent;
    margin: 0 1rem;
    font-size: 1rem;
    transition: ease 0.5s;
    border-bottom: 0.15rem solid transparent;
    cursor: pointer;
    line-height: 1rem;
    outline: var(--clr-primary-10);
}

.job-btn.active {
    color: var(--primary-color);
    border-bottom: 0.15rem solid;
    border-color: var(--primary-color);
}

.job-info h4 {
    font-size: 0.8rem;
    padding: 0.2rem 0.6rem;
    color: rgb(92, 92, 92);
    background-color: rgb(213, 235, 243);
    display: inline-block;
    margin: 0.3rem 0;
}

.job-date {
    margin-bottom: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(119, 155, 152);
}

.job-desc {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.job-desc .job-icon {
    color: rgb(108, 179, 182);
    font-size: 0.8rem;
}

.job-desc p {
    font-size: 0.8rem;
}

@media screen and (min-width: 968px) {
    .jobs-center {
        display: grid;
        grid-template-columns: 250px auto;
        column-gap: 2rem;
    }
    .btn-container {
        flex-direction: column;
        justify-content: flex-start;
    }
    .job-btn {
        margin: 0;
        border-left: 0.15rem solid transparent;
        border-bottom: none;
        margin-bottom: 1rem;
        font-size: 1.1rem;
        font-weight: 500;
        letter-spacing: 1px;
    }
    .job-btn.active {
        border-left: 0.15rem solid var(--primary-color);
        border-bottom: none;
    }
}
